*.DotSettings
tomstuff/src/Game/GameClient/obj/
tomstuff/src/Game/packages/
tomstuff/src/Game/GameClient/bin/
tomstuff/src/Game/GameConsole/bin/
tomstuff/src/Game/GameConsole/obj/
tomstuff/src/Game/Shared/obj/
tomstuff/src/Game/GameLogic/obj/
